.content {
    width: 50%;
    background-color: lightgray;
    margin: auto;
    width: 60%;
    border: 1px solid #79B6E2;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* height: 900px; test only */
}

.blog-image {
    width: 300px;
    border: 5px red solid;
    margin: 25px;
    float: left;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.heading {
    font-size: 36px;
    background-color: lightgray;
    margin: 5px;
    margin-bottom: 3%;
    box-shadow: 0px 8px 16px 0px rgba(5, 126, 163, .8);
    padding: 5px 5px 5px 20px;
    border-radius: 20px;
    /* float: left; */
   
}
.sub-heading {
    font-size: 24px;
    background-color: rgb(171, 218, 243);
    margin: 5px;
    padding: 5px 5px 5px 20px;
    border-radius: 20px;
    /* float: left; */
   
}
.teamLinks li {
    display: inline;
    margin-right: 3%;
}

.teamLinks li a {
    text-decoration: none;
}

#banner {
    background-color: #233656;
    font-size: 36pt;
    width: 100%;
    top: 0px;
    margin-bottom: 0px;
}

#banner-title {
    color: #FFC335;
    font-size: 1em;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 125px;
    padding-bottom: 10px;
    text-align: center;
}

#banner-sub {
    color: white;
    font-size: .5em;
    font-style: italic;
    margin-top: 5px;
    margin-left: 125px;
    padding-bottom: 10px;
    text-align: center;


}

.entry-header{
    text-align: center;
    margin-bottom: 20px;
}

.nav-bar {
    background-color: #79B6E2;
    color: white;
    font-size: .35em;
    margin: 0px;
    padding: 10px;
}

.nav-bar a {
    color: white;
    margin: 5px;
}

.josiah_txt{
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3em;
}
.joestyle {
    font-style: oblique;
    font-size: large;
}
.natesBioStyles > h1 {
    color: red;
}

.natesBioStyles > h2 {
    color: Green;
}
.natesBioStyles > p {
    color: white;
}

.natesBioStyles > li {
    color: white;
}

.natesBioStyles {
    background-color: black;
}

.zachStyle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.zachHeading {
    font-size: 36px;
    background-color: lightgray;
    margin: 5px;
}